{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                },
                "useBuildIns": "entry"
            }
        
        ],
        "@babel/preset-react"
    ]
}