<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                font-family: sans-serif;
            }
        </style>

        <script>
            function sendPost() {
                // prepare POST request
                let url = "/insertdata";

                let xhr = new XMLHttpRequest();
                xhr.open("POST", url);

                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        console.log(xhr.responseText);
                    }
                }

                //parse form

                let packageId = document.getElementById("formPackageId").value;
                let dataId = document.getElementById("formDataId").value;
                let dataFile = document.getElementById("formDataFile").value;

                let data = {
                    data_package_Id : packageId,
                    data_Id : dataId,
                    data_File : dataFile
                }

                // send the data
                
                xhr.send(JSON.stringify(data));
            }
        </script>

    </head>
    <body>
        <!-- Navigation -->
        <div id="navBar">
            <form action="/" id="navHomeButton" method="GET">
                <input type="submit" value="Return to Search">
            </form>
        </div>
        <h1>Insert Data View</h1>

        <!-- big form to insert data to database -->

        <!--
            [planning]
            Required Parameters:
            package_id : for linking the database to api returns in initial search page
            data_id : for linking databse with api returns
            data_file : Actual data file. can be substituted with a simple text line for testing

            (lower priority)
            Visualisation Parameters:
            dataVis_type : {
                "LINE" // line graph (to be used for must haves)
                "HIST" // histogram
                "BARC" // bar chart
                "PIEC" // pie chart
            }
        -->

        <div id="formContainer">

            <label for="packageId">Package ID (must match with API)</label><br>
            <input type="text" id="formPackageId" name="packageId"><br>
            <br>
            <label for="dataId">Data ID (must match with API)</label><br>
            <input type="text" id="formDataId" name="dataId"><br>
            <br>
            <label for="dataFile">Data File (a text line for testing purposes)</label><br>
            <input type="text" id="formDataFile" name="dataFile"><br>
            <button onclick="sendPost()">Submit</button>

        </div>
        <hr>
    </body>
</html>