<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            font-family: sans-serif;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>
        let options = '<%= fullVisObj.options %>'

        let chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
    </script>

</head>

<body>

    <h2>Visualisation for: <%= fullVisObj.visObj.vis_title %>
    </h2>

    <div id="chart">
    </div>

</body>

</html>